.logo{
    height: 130px;
    width: 150px;
    border: 2px solid blue;
}

header{
    display: flex;
}


.ul_nav{
    list-style:none;
    display: flex;
}

.enlace_nav{
    color: #6115dd;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 1000;
    margin-left: 300px;
}
body{
    background-color: rgba(117, 116, 122, 0.274);
}

h1{
    color: rgb(233, 46, 177);
    text-align: center;
    font-size: 40px;
    font-family: cursive;
}

h2{
    color: rgb(100, 90, 240);
    text-align: center;
    font-size: 25px;
    font-family: cursive;
}

h3{
    color: red;
    text-align: center;
    font-size: 25px;
    font-family: cursive;
}

p{
    color: rgb(27, 6, 150);
    text-align: center;
    font-size: 15px;
    font-family: cursive;
}

iframe{
    margin: 1.7%;
}


input{
    display: block;
}

form{
    margin-left: 40%;

}


.ul_index{
    color: rgb(100, 90, 200);
    text-align: center;
    font-size: 25px;
    font-family: cursive;
    list-style:none;
}
.index_img{
    height: 500px;
    margin-left: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: black;
    border-style: double;

}
.ul_footer{
    list-style:none;
    font-family: cursive;
}
.crucero{
    max-width: 14%;
    border-color: black;
    border-style: double;
    margin: 2.75%;
    text-align: justify;
}
.hotel{
    border-color: black;
    border-style: groove;
    margin-left: 5%;
}

.img_pasajes{
    border-color: black;
    border-style: groove;
    max-width: 8%;
    margin: 0.9%;
}

.consulta{
    display: block;
}

.ubicacion{
    display: block;
    margin-left: 30%;
    margin-top: 30px;
}
.iframe1{
    margin-left: 30%;
}

.foot{
    display: inline;
    margin: 1% 1.5%;
}

#consultar{
    display: block;
}

#checkbox{
    display: inline-block;
}
