body{
    footer{
        .ul_footer{
            list-style:none;
            font-family: cursive;
        }
        ul{
            .foot{
                display: inline;
                margin: 1% 1.5%;
            }
        }
    }
}
