body{
    footer{
        .ul_footer{
            list-style:none;
            font-family: cursive;
        }
        ul{
            .foot{
                display: inline;
                margin: 1% 1.5%;
            }
            .btn-footer {
                @extend .btn;
                font-size: 18px;
              }
        }
    }
}
