@import "../mixins/mixins.scss";
body{
    main{
        section{
            h1{
                @include estilos(black, center, 40px, Arial);
                font-weight: bold;
                padding: 2%;
                background-image: linear-gradient(to right, blue, rgb(15, 219, 15),yellow);
            }
            h2{
                @include estilos(rgb(100, 90, 240), center, 25px, cursive);
                transition: 1s;
                font-weight: bold;
            }
            h2:hover{
                transform: scale(0,1);
            }
            h3{
                @include estilos(red, center, 25px, cursive);
            }
            p{
                @include estilos(rgb(3, 2, 29), center, 20px, Arial);
                background-image: linear-gradient(to right, rgb(218, 26, 160), rgb(15, 219, 15),yellow);
                font-weight: bold;

            }
            iframe{
                margin: 1.7%;
            }
            .iframe1{
                margin-left: 30%;
            }
            form{
                margin-left: 40%;
                input{
                    display: block;
                       
                }             
                .consulta{
                    display: block;
                }
                #consultar{
                    display: block;
                }
                #checkbox{
                    display: inline-block;
                } 
            }
            .ul_index{
                color: rgb(100, 90, 200);
                text-align: center;
                font-size: 25px;
                font-family: cursive;
                list-style:none;
            }
            .ubicacion{
                display: block;
                margin-left: 30%;
                margin-top: 30px;
            }
            .videos_crucero{
                margin-left: 16%;
            }
            .videos_pasajes{
                margin-left: 16%;
                margin-top: 5%;
            }
            .whatsapp{
                max-height: 10%;
                position: fixed;
                right: 6px;
                bottom: 160px;
                transition: 2s;
            }
            .whatsapp:hover{
                transform: rotate(180deg);
            }
    
        }
        .grid_container{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            place-items: center;
            gap: 20px;
            margin: 5%;
            .grid_item_1{
                background-color: red;
                border-radius: 5px;
                img{
                    width: 95%;
                    margin: 2%;
                }
            }
            .grid_item_2{
                background-color: yellow;
                border-radius: 5px;
                img{
                    width: 95%;
                    margin: 2%;
                }
            }

            .grid_item_3{
                background-color: green;
                border-radius: 5px;
                img{
                    width: 95%;
                    margin: 2%;
                }
            }

            .grid_item_4{
                background-color: blue;
                border-radius: 5px;
                img{
                    width: 95%;
                    margin: 2%;
                }
            }

            .grid_item_5{
                background-color: orange;
                border-radius: 5px;
                img{
                    width: 95%;
                    margin: 2%;
                }
            }
        }
        .grid_container_1{
            display: grid;
            grid-template-columns: repeat(9, 1fr);
            place-items: center;
            gap: 15px;
            background-image: linear-gradient(to right, blue, rgb(15, 219, 15),yellow);
            .grid_item{
                margin: 5%;
                img{
                    width: 95%;
                    border-color: black;
                    border-style: groove;
                    border-radius: 5px;
                    box-shadow: 17px 15px 30px -3px rgba(61,57,64,0.75);
                    -webkit-box-shadow: 17px 15px 30px -3px rgba(61,57,64,0.75);
                    -moz-box-shadow: 17px 15px 30px -3px rgba(61,57,64,0.75);
                    transform: translateY(15px);
                }
            }
        }
        .grid_container_2{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            place-items: center;
            .grid_item_6{
                margin: 5%;
                img{
                    width: 100%;
                    border-color: black;
                    border-style: groove;
                    border-radius: 5px;
                    box-shadow: 17px 15px 30px -3px rgba(61,57,64,0.75);
                    -webkit-box-shadow: 17px 15px 30px -3px rgba(61,57,64,0.75);
                    -moz-box-shadow: 17px 15px 30px -3px rgba(61,57,64,0.75);
                    transform: translateY(8px);
                }
            }
        }
    }
}
