@mixin estilos ($color, $alineado, $size, $fuente){
    color: $color;
    text-align: $alineado;
    font-size: $size;
    font-family: $fuente;
}

body{
    main{
        section{
            h1{
                @include estilos(black, center, 40px, Arial);
                font-weight: bold;
                padding: 2%;
                background-image: linear-gradient(to right, blue, rgb(15, 219, 15),yellow);
            }
            h2{
                @include estilos(rgb(100, 90, 240), center, 25px, cursive);
                transition: 1s;
                font-weight: bold;
            }
            h2:hover{
                transform: scale(0,1);
            }
            h3{
                @include estilos(red, center, 25px, cursive);
            }
            p{
                @include estilos(rgb(3, 2, 29), center, 20px, Arial);
                background-image: linear-gradient(to right, rgb(218, 26, 160), rgb(15, 219, 15),yellow);
                font-weight: bold;

            }
            iframe{
                margin: 1.7%;
            }
            .iframe1{
                margin-left: 30%;
            }
            form{
                margin-left: 40%;
                input{
                    display: block;
                       
                }             
                .consulta{
                    display: block;
                }
                #consultar{
                    display: block;
                }
                #checkbox{
                    display: inline-block;
                } 
            }
            .ul_index{
                color: rgb(100, 90, 200);
                text-align: center;
                font-size: 25px;
                font-family: cursive;
                list-style:none;
            }
            .ubicacion{
                display: block;
                margin-left: 30%;
                margin-top: 30px;
            }
            .logo_aerolineas{
                background-image: linear-gradient(to right, blue, rgb(15, 219, 15),yellow);
                .img_pasajes{
                    border-color: black;
                    border-style: groove;
                    max-width: 8%;
                    margin: 0.9%;
                    box-shadow: 17px 15px 30px -3px rgba(61,57,64,0.75);
                    -webkit-box-shadow: 17px 15px 30px -3px rgba(61,57,64,0.75);
                    -moz-box-shadow: 17px 15px 30px -3px rgba(61,57,64,0.75);
                    transform: translateY(15px);
                }
            }
          
            .crucero{
                max-width: 12%;
                border-color: black;
                border-style: double;
                margin: 2.75%;
                text-align: justify;
            }
            .hotel{
                border-color: black;
                border-style: groove;
                margin-left: 5%;
                max-width: 25%;
            }
            .videos_crucero{
                margin-left: 20%;
            }
            .videos_pasajes{
                margin-left: 20%;
                margin-top: 10%;
            }
            .whatsapp{
                max-height: 10%;
                position: fixed;
                right: 6px;
                bottom: 160px;
                transition: 2s;
            }
            .whatsapp:hover{
                transform: rotate(180deg);
            }
    
        }
    }
}
